{% load static %}<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--meta tag for correct display on mobile phone-->
    <!--<meta content="width=device-width, initial-scale=1" name="viewport" charset="utf-8"/>-->
    <title>{% block title %}Home{% endblock %}</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block head %}
    {% endblock %}
</head>
<style>
	body {
	  padding-top: 70px;
	}
	{% block style %}
  {% endblock %}
</style>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	  <div class="container">
		<a class="navbar-brand" href="{% url 'home' %}">Cvek's House</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="{% url 'home' %}">Home
				<span class="sr-only">(current)</span>
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'roomTemp' 'smasa' %}">Sensors Data</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'admin:index' %}">Admin Page</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'control' %}">Controls</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>